.template4 {
    display: flex;
    width: 100%;
    max-width: 900px;
    flex-direction: column;
    align-items: center;
    min-height: 700px;
    background-color: white;
    color: white;
    padding: 5px;
    border-radius: 5px;
   
    >header{
        display: flex;
        width: 100%;
        padding: 20px;
        min-height: 150px;
        background-color: rgb(0,30,38);
   
        // >img {
        //     display: flex;
        //     width: 100%;
        //     max-width: 180px;
        //     border-radius: 5px;
        //     object-fit: cover;
        // }
   
        >.header_details {
           display: flex;
           width: 100%;
           justify-content: flex-start;
           flex-direction: column;
           border-left: 1px solid green;
           margin-left: 15px;
           padding-left: 15px;
           gap: 5px;
   
           h1 {
               font-weight: 600;
               font-size: 16px;
               text-transform: capitalize;
           }
           em {
               font-size: 12px;
               font-weight: 400;
               color: rgb(155, 155, 155);
               text-transform: capitalize;
           }
   
           p {
               span {
                   padding: 2px 30px 2px 2px;
                   font-weight: 600;
                   background-color: rgb(182, 182, 182);
                   color: black;
                   text-transform: capitalize;
                   margin-right: 10px;
               }
               font-size: 13px;
               font-weight: 400;
               margin-bottom: 4px;
           }
        }
    }
   }
   
   .container {
       display: flex;
       width: 100%;
       color: rgb(49, 49, 49);
   
       >section {
           display: flex;
           width: 100%;
           flex-direction: column;
           padding: 10px;
   
           p {
               font-size: 13px;
               font-weight: 500;
               color: rgb(116, 116, 116);
           }
           >div {
               display: flex;
               flex-direction: column;
               width: 100%;
               margin-bottom: 10px;
               padding-bottom: 10px;
               border-bottom: 1px solid rgb(173, 173, 173);
   
               span {
                   border-radius: 10px;
                   border: 1px solid rgb(201, 201, 201);
                   padding: 10px;
                   display: flex;
                   width: 100%;
                   margin: 10px 0;
                   flex-direction: column;
               }
           }
   
           h2 {
               width: 100%;
               text-transform: capitalize;
               font-size: 15px;
               background-color: rgb(209, 209, 209);
               color: black;
               font-weight: 600;
               padding: 8px;
               border-radius: 5px;
           }
       
           h3 {
               width: 100%;
               text-transform: capitalize;
               font-size: 13px;
               color: rgb(54, 54, 54);
               font-weight: 600;
               padding: 5px;
               display: flex;
               width: 100%;
               align-items: center;
               justify-content: space-between;
           }
   
           em {
               font-size: 11px;
               font-weight: 400;
               color: rgb(90, 90, 90);
               text-transform: capitalize;
           }
   
           ul {
               display: flex;
               margin: 0;
               flex-direction: column;
               width: 100%;
           }
           li {
               font-size: 12px;
               font-weight: 500;
               margin-top: 5px;
               margin-left: 40px;
           }
       }
   
   
   
       >aside{
           position: sticky;
           top: 0;
           right: 0;
           background-color: rgb(228, 228, 228);
           display: flex;
           flex-direction: column;
           width: 100%;
           max-width: 300px;
           padding: 20px 10px;
   
           >div {
               display: flex;
               flex-direction: column;
               width: 100%;
               margin-bottom: 10px;
               padding-bottom: 10px;
               border-bottom: 1px solid rgb(173, 173, 173);
   
               span {
                   border-radius: 10px;
                   border: 1px solid rgb(168, 168, 168);
                   padding: 10px;
                   display: flex;
                   width: 100%;
                   margin: 10px 0;
                   flex-direction: column;
               }
           }
   
           h2 {
               width: 100%;
               text-transform: capitalize;
               font-size: 15px;
               background-color: rgb(209, 209, 209);
               color: black;
               font-weight: 600;
               padding: 8px;
               border-radius: 5px;
           }
           em {
               font-size: 12px;
               font-weight: 400;
               color: rgb(90, 90, 90);
               text-transform: capitalize;
           }
           h3 {
               width: 100%;
               text-transform: capitalize;
               font-size: 13px;
               color: rgb(54, 54, 54);
               font-weight: 600;
               padding: 5px;
           }
   
           ul {
               display: flex;
               margin: 0;
               flex-direction: column;
               width: 100%;
   
               li {
                   font-size: 12px;
                   font-weight: 500;
                   margin-top: 5px;
                   margin-left: 40px;
               }
           }
       }
   }