.template2 {
    display: flex;
    width: 100%;
    max-width: 800px;
    background-color: white;
    border-radius: 5px;
    color: white;
    border-radius: 5px;
    align-items: flex-start;
    

    // img {
    //     display: flex;
    //     width: 150px;
    //     height: 150px;
    //     object-fit: cover;
    //     border-radius: 100%;
    // }
    h4 {
        font-family: 'Baloo Bhai 2';
        text-transform: uppercase;
        font-weight: 500;
    }
    h5 {
        font-family: 'Baloo Bhai 2';
        text-transform: uppercase;
        font-size: 12px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        padding-left: 10px;

        p{
            text-transform: none;
        }
    }
    ul {
        display: flex;
        width: 100%;
        margin: 0;
        flex-direction: column;
    }
    li{
        font-weight: 400;
        font-size: 11.5px;
        margin-left: 30px;
        padding-bottom: 4px;
        text-transform: capitalize;
    }

    p{
        font-weight: 500;
        font-size: 12px;
    }

    aside {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-width: 260px;
        background-color: rgb(60, 59, 77);
        border-radius: 5px 0 0 5px;
    }

    section {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        color: rgb(60, 59, 77);
    }

    header {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 40px 40px 20px;
    }
    h1 {
        text-align: left;
        // font-family: 'Baloo Bhai 2';
        font-size: 30px;
        font-weight: 600;
        text-transform: capitalize;
        line-height: 35px;
    }
    span {
        display: flex;
        align-items: center;
        width: fit-content;
    }
}